/* HOMEPAGE   */
#mobile-homepage {
  display: none;
}

#desktop-homepage {
  display: block;
}

@media only screen and (max-width: 45em) {
  #mobile-homepage {
    display: block;
  }

  .homepage {
    width: 100%;
  }

  .parent_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .child_text {
    left: 0%;
    width: 100%;
    background: transparent;
  }

  /* box-shadow: 0px 0px 5px #000;   */

  .htext-container {
    text-align: center;
  }

  .pre-title {
    font-size: 1.7rem;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    color: black;
  }
  #htitle {
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
  }

  .hdes {
    color: rgb(228, 228, 228);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    -webkit-text-stroke: 0.1px black;

    width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  .hevent:hover {
    background-color: transparent;
    color: rgb(180, 0, 55);
    cursor: pointer;
  }

  #desktop-homepage {
    display: none;
  }
}

/* RESPONSIVE CARDS    */
@media only screen and (max-width: 900px) {
  .card1title,
  .c1pt {
    padding-right: 10vh;
  }

  .card3title,
  .c3pt {
    padding-left: 7vh;
  }
}

#resCards {
  display: none;
}

#desktop-cards {
  display: block;
}

@media only screen and (max-width: 45em) {
  #resCards {
    display: block;
  }
  #desktop-cards {
    display: none;
  }

  .intro-containers {
    text-align: center;
  }

  .intro-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*   
  .home {
    margin: 0px 5rem;
  }  */

@media only screen and (max-width: 32em) {
  .pre-title {
    font-size: 1.3rem;
  }
  #htitle {
    font-size: 2rem;
  }
  .hdes {
    font-size: 0.6rem;
  }

  .parent_img {
    height: 60vh;
  }

  .intro_p {
    margin: 0 auto;
  }

  .rescard1title,
  .rescard2title,
  .rescard3title {
    font-size: 1.5rem;
  }
  .resc1pt,
  .resc2pt,
  .resc3pt {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  #contact {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  #contact {
    font-size: 1rem;
  }
  /* nav  */
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  /* rest    */
  .intro,
  .section-container {
    display: block;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    margin: 0 auto 2rem;
  }
  .intro-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .intro-containers {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
  .section__pic-container {
    justify-content: center;
  }
  .section__pic-container img {
    height: 100%;
    width: 100%;
  }
  .logo {
    font-size: 1.5rem;
  }
  .title {
    font-size: 2rem;
  }
}
/* 
@media screen and (max-width: 420px) {
  .section__pic-container {
    height: 22rem;
    width: 22rem;
  }
}
@media screen and (max-width: 350px) {
  .section__pic-container {
    height: 19rem;
    width: 19rem;
  }
}
@media screen and (max-width: 300px) {
  .section__pic-container {
    height: 270px;
    width: 270px;
  }
} */
