/*General*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  color: rgb(85, 85, 85);
}

.title {
  font-family: "Montserrat", "poppins", sans-serif;
  font-size: 3rem;
  text-align: center;
}

#title {
  margin-bottom: 25px;
}

/* Transition */

a,
#btn {
  transition: all 300ms ease;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 7rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.home {
  margin: 0 0 5vh 0;
  padding: 0;
}

.section-container {
  display: flex;
}

/* DESKTOP-NAV */

/* 
backdrop-filter: blur(30px);
box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
border: 2px solid rgba(255, 255, 255, 0.18); */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;

  background-color: #f0eeee;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}
a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.6rem;
  text-decoration-color: rgb(180, 0, 55);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;

  z-index: 200;

  top: 130%;
  right: 0;

  max-height: 0;
  width: fit-content;
  overflow: hidden;

  background-color: rgb(180, 0, 55);
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 13px 25px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/*HOME*/
.homepage {
  width: 100%;
}

.parent_img {
  position: relative;
  width: 100%;
  height: 78vh;
  /* margin: 5% auto;   */
  /* background: #fff;
  box-shadow: 0px 0px 5px #000; */

  overflow: hidden;
}
.child_text {
  display: flex;
  flex-direction: row;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 5%;
  width: 50%;
  background: transparent;
  /* box-shadow: 0px 0px 5px #000; */
}

.htext-container {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}

.pre-title {
  font-size: 1.7rem;
  font-weight: 500;

  color: black;
}

#htitle {
  font-size: 2.83rem;
  font-weight: 500;
  color: rgb(180, 0, 55);
}

.hdes {
  color: rgb(85, 85, 85);

  width: 90%;
  margin: 0 auto 0 0;

  font-size: small;
  font-style: italic;
}

.hbtn-container {
  margin-top: 4vh;
}

.hcontact,
.hevent {
  padding: 1.5vh 3.5vh;
}

.hcontact:hover {
  background-color: rgb(180, 0, 55);
  color: white;
  cursor: pointer;
}

.hevent:hover {
  background-color: white;
  color: rgb(180, 0, 55);
  cursor: pointer;
}

.hcontact {
  background-color: transparent;
  color: rgb(180, 0, 55);

  font-weight: 600;

  border: 2px solid rgb(180, 0, 55);

  margin-right: 1vh;
}

.hevent {
  background-color: rgb(180, 0, 55);
  color: white;
  border: 2px solid rgb(180, 0, 55);
}

.img-container {
  margin: 0;
  padding: 0;
}

.homeimg {
  /* width: 80vh;
  height: 55vh; */

  margin: 0;
  padding: 0;

  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 20% 50%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 20% 50%);
}

.parent_img img {
  height: 100%;
  width: 65%;
  object-fit: cover;

  /* or
  object-fit: cover; */
}

#right {
  text-align: right;
}

/*CARDS*/

.parentcard {
  position: relative;

  width: 100%;
  height: 20vh;

  background: rgb(180, 0, 55);
  color: white;
  box-shadow: 0px 0px 5px #000;
}
.child1 {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  width: 45%;

  background: #ffffff;
  color: black;
  box-shadow: 0px 0px 5px #000;

  clip-path: polygon(0 0, 90% 0%, 60% 100%, 0% 100%);
}
/* .child2 {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 33.5%;
  width: 33%;
  background: #1b8335;
  box-shadow: 0px 0px 5px #000;
  clip-path: polygon( 60% 0, 100% 0%, 45% 100%, 0% 100%);
} */
.child3 {
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0px;
  width: 40%;
  background: #000000;
  color: white;
  box-shadow: 0px 0px 5px #000;
  clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
}

.card1title,
.card2title,
.card3title {
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  padding-top: 2.5vh;
}
.c1pt,
.c2pt,
.c3pt {
  padding: 0;
  margin: 0;
  font-size: 3rem;
  text-align: center;
  margin: auto;
}

.card1title,
.c1pt {
  padding-right: 20vh;
}

.card3title,
.c3pt {
  padding-left: 10vh;
}

/* RESPONSIVE CARDS  */

.parent1_resCard,
.parent2_resCard,
.parent3_resCard {
  position: relative;
  width: 100%;
  height: 20vh;
  margin: 5% auto;
}

.child1_resCard1,
.child2_resCard1,
.child3_resCard1 {
  position: absolute;
  top: -5%;
  bottom: -5%;
  right: 10%;
  width: 10%;
  /* box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3), 10px 0 15px rgba(0, 0, 0, 0.3); */
}
.child1_resCard2,
.child2_resCard2,
.child3_resCard2 {
  position: absolute;
  top: -5%;
  bottom: -5%;
  left: 10%;
  width: 10%;
  /* box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3), 10px 0 15px rgba(0, 0, 0, 0.3); */
}

.parent1_resCard {
  box-shadow: 0px 0px 5px #000;
  background-color: rgb(255, 255, 255);
  color: rgb(180, 0, 55);
}

.child1_resCard1,
.child1_resCard2 {
  background: #fff;
}

.parent2_resCard {
  box-shadow: 0px 0px 5px #000;
  background-color: rgb(180, 0, 55);
  color: #fff;
}
.child2_resCard1,
.child2_resCard2 {
  background: #fff;
}

.parent3_resCard {
  box-shadow: 0px 0px 5px #000;
  background-color: rgb(0, 0, 0);
  color: #fff;
}
.child3_resCard1,
.child3_resCard2 {
  background: #fff;
}

.rescard1title,
.rescard2title,
.rescard3title {
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  padding-top: 2.5vh;
}
.resc1pt,
.resc2pt,
.resc3pt {
  padding: 0;
  margin: 0;
  font-size: 3rem;
  text-align: center;
  margin: auto;
}

/* INTRO */

#intro {
  position: relative;
}

.intro-containers,
.intro-details-container {
  display: flex;
}

.intro-containers {
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.intro-details-container {
  flex-direction: column;
  padding-top: 2rem;
  margin: auto 0;
}

.details-container {
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  border-radius: 2rem;

  background: white;
  text-align: center;

  padding: 1.5rem;

  flex: 1;
}

.section-container {
  gap: 4rem;
  height: 80%;
}
/* 
.section__pic-container {
  height: 60vh;
  width: 60vh;
} */
.section__pic-container {
  display: flex;
  justify-content: center;
}

.intro-pic {
  height: 55vh;
  width: 55vh;
  margin: auto 0;
  padding-top: 0rem;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* height: 70vh; */
}

.contact-info-upper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163); */
  margin: 2rem auto;
  /* padding: 1rem; */
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}
/* 
.contact-info-container p {
  font-size: larger;
} */

#contact {
  font-size: clamp(15px, 2.5vw, 35px);
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

.ticon {
  height: 2.1rem;
}

.contact-divider {
  margin-top: 8px;
}

#socials-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  gap: 1rem;
}

/* BANDS */

/* .container-bands {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.5vh;
  row-gap: 1.5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  grid-template-rows: 0.3fr 1fr 1fr;
  grid-template-areas: "main main main";
} */

.intro-title-bands {
  text-align: center;
  /* margin-bottom: 4vh; */
}

#band_name1 {
  background: antiquewhite;
}

main {
  grid-area: main;
}
.bands {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.bands-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.bands-container {
  padding: 0 10vw;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.bands-container::-webkit-scrollbar {
  display: none;
}

.bands-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.bands-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.bands-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.bands-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.bands-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.bands-name {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.bands-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
  display: flex;
  justify-content: center;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.4;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}
